<strong>Recuperando Senha</strong>

<p>Uma Solicitação de recuperação de senha foi realizado para o email : {{email}}.</p>

<p>Para continuar com a recuperação de senha, utilize o token: {{token}} ou click no link abaixo</p>

<a href="{{link}}" >Criar nova senha</a>
